

<!DOCTYPE html>
<html lang="vi">
  <head>
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compose Email</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
      }
      .header {
        color: #fff;
        text-align: center;
        margin-bottom: 30px;
      }
      .content {
        display: flex;
        flex: 1;
      }
      .sider {
        display: flex;
        flex-direction: column;
        width: 250px;
        background-color: #95dcfd;
        padding: 20px;
      }
      .main {
        flex: 1;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="inbox-page_action">
          <a href="/compose">Compose Email</a>
          <a href="/logout">Đăng xuất</a>
        </div>
      </div>
      <div class="content">
        <div class="sider">
          <div
            style="margin-top: 20px; background-color: #82d6fd; padding: 10px"
          >
            <h2>Sider</h2>
            <ul>
              <li><a style="display: inline" href="/compose">compose</a></li>
              <li><a style="display: inline" href="/inbox">inbox</a></li>
              <li><a style="display: inline" href="/sent">outbox</a></li>
            </ul>
          </div>
        </div>
        <div class="main">
          <h2 class="inbox-page_title">Inbox</h2>
    
    <table class="inbox-page-table">
      <tr>
        <th>Sender</th>
        <th>Topic</th>
        <th>Date of receipt</th>
        <th>Action</th>
      </tr>
      <% emails.forEach(email => { %>
      <tr>
        <td><%= email.sender %></td>
        <td><a href="/email/<%= email.id %>"><%= email.subject %></a></td>
        <td><%= email.created_at %></td>
        <td style="display: flex; gap: 8px;>
          <button
            style="
              width: 100%;
              padding: 0.25rem;
              background-color: red;
              color: white;
              font-size: 1rem;
              font-weight: bold;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease;
            "
            onclick="deleteEmail(<%= email.id %>)"
          >
            Delete
          </button>
          <a
            style="
              width: 100%;
              padding: 0.25rem;
              background-color: rgb(0, 141, 206);
              color: white;
              font-size: 1rem;
              font-weight: bold;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease;
            "
            href="/email/<%= email.id %>"
          >
            Detail
          </a>
        </td>
      </tr>
      <% }) %>
    </table>
        </div>
      </div>
    </div>
    <script>
      function deleteEmail(emailId) {
        fetch(`/email/${emailId}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ emailId }),
        }).then((response) => {
          if (response.ok) location.reload();
        });
      }
    </script>
  </body>
</html>
